<div class="bgImage">
    <button class="btn backButton" (click)="onBackButton()">Back</button>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 aligning">
                <button class="btn textFix" (click)="onClickProjects()">Projects</button>
            </div>
            <div class="col-lg-4 aligning">
                <button class="btn textFix" (click)="onClickAbout()">About</button>
            </div>
            <div class="col-lg-4 aligning">
                <button class="btn textFix" (click)="onClickContacts()">Contact</button>
            </div>
        </div>
    </div>
</div> 


