<div class="bgImage">
    <button class="btn backButton" (click)="onBackButton()">Back</button>
    <div class="container" style="padding-top: 15%; padding-right: 40%; font-size: 30px; color: white ;">
    <p>This is my fun little project called Panchbooth which absolutely does not make sense where I used some of the features and functionalities that I've learnt so far. I deserve two brownie points for my creativity though. Nevertheless, my next one is going to be super interesting.Stay tuned.</p>
</div>
</div>