<div class="bgImage">
    <button class="btn backButton" (click)="onBackButton()">Back</button>
    <h3 style="padding-top:2%; padding-left:3%; color: white;">Amazing murals by extraordinarly talented people</h3>
    <div class="container" style="padding-top: 2%;">
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/images/PImage1.png"  class="imgFix" alt="">
            </div>
            <div class="col-lg-4">
                <img src="/assets/images/PImage2.png" class="imgFix" alt=""> 
            </div>
            <div class="col-lg-4">
                <img src="/assets/images/PImage3.png" class="imgFix" alt="">
            </div>
        </div>
<p> </p>
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/images/PImage4.png"  class="imgFix" alt="">
            </div>
            <div class="col-lg-4">
                <img src="/assets/images/Pimage5.png" class="imgFix" alt=""> 
            </div>
            <div class="col-lg-4">
                <img src="/assets/images/PImage6.png" class="imgFix" alt="">
            </div>
        </div>
    </div>

</div>
