


<div class="row"  style="background-color: lavender; width:99.5%">
    <div class="col-lg-6">
        <div style="text-align: center; padding-top: 40%;">
            <h1>Universe Rocks, isn't it?</h1>
            <p>Wanna not learn more about universe? Go on, click on the get-started button now</p>
            <button class="btn btn-dark rounded-pill" (click)="onGettingStarted()">Get Started</button>
        </div>
      </div>
   
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="bgImage">
               
        </div>
    </div>
</div>



